*{
    margin: 0;
    font-family: 'Kanit', sans-serif;
}
.page{
    position: absolute;
    height: 100%;
    width: 100%;
    overflow: auto;
    display: none;
}
.page-active{
    display: block;
}
#telaMenu{

}
#telaPlayMusica{

}
#telaGravarMusica{

}

.btnfooter{
    width: 80%;
    padding: 15px 0;
    text-align: center;
    background: #222;
    color: white;
    border:0;
    text-transform: uppercase;
}
.painelMenu{
    width: 85%;
    background: white;
    margin: 15px auto;
    padding: 15px 5%;
    
}
.btn{
    width: 100%;
    padding: 15px 0;
    text-align: center;
    background: white;
    border:0;
    margin-bottom: 5px;
    font-size: 30px;

}
i{
    vertical-align: -18px;
}
.logoMenu{
    text-align: center;
    margin-bottom: 5px;
    padding: 100px 0;

}
.top{
    width: 100%;
    height: 500px;
}
.painel{
    width: 80%;
    float: left;
}
.logoPlay{
    text-align: center;
    margin-left: 50px;
    margin-bottom: 5px;
    padding: 170px 0 50px 0;
}
.btn-direito{
    background: white;
    border: 0;
    width: 20%;
}
.btn-menu{
    margin-bottom: 110px;
}
.btn-mais{
    margin-bottom: 110px;
}
.meio{
    height: 68px;
}
.container{
    float: left;
    width: 20%;
    text-align: center;
}
.btn-geral{
    background: white;
    border: 0;
}
.container-primary{
    margin-left: 20%;
}
.btn-top-audio{
    width: 100%;
    height: 54px;
    text-align: right;
}
.logoAudio{
    width: 100%;
    text-align: center;
    padding: 28% 0 22% 0;
}
.container-audio{
    margin-left: 30%;
}