*{
    margin: 0;
    font-family: 'Kanit', sans-serif;
}
.page{
    position: absolute;
    height: 100%;
    width: 100%;
    overflow: auto;
    display: none;
}
.page-active{
    display: block;
}
#telaMenu{

}
#telaPlayMusica{

}
#telaGravarMusica{

}
.navbar{
    background: #2c3e50;
    width: 100%;
    height: 55px;
    text-align: center;
    border-bottom: 2px solid orangered;
    text-transform: uppercase;

}
.navbar span{
    font-size: 17px;
    line-height: 55px;
    color: white;

}
.btnfooter{
    width: 80%;
    padding: 15px 0;
    text-align: center;
    background: #222;
    color: white;
    border:0;
    text-transform: uppercase;
}
.painelMenu{
    width: 85%;
    background: white;
    margin: 15px auto;
    padding: 15px 5%;
    
}
.btn{
    width: 100%;
    padding: 15px 0;
    text-align: center;
    color:black;
    background: white;
    border:0;
    margin-bottom: 5px;
    font-size: 30px;

}
i{
    vertical-align: -18px;
}

.logoMenu{
    text-align: center;
    margin-bottom: 5px;
    padding: 100px 0;

}
